dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

Project2/save/*
Project2/save/file0.rmmzsave
Project2/save/file0.rmmzsave
Project2/save/global.rmmzsave
GGJ 2021 - Royal Kingdom/
GGJ 2021 - Royal Kingdom.zip

Project/save/
GGJ 2021 - Royal Kingdom/
GGJ 2021 - Royal Kingdom.rar
GGJ 2021 - Royal Kingdom.zip
Project2/data/System.json

data.rar

GGJ 2021_seb_version1.rar
